<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <header>
    <h1>Raunak Sinha</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/research">Research</a>
      <a href="/research">Research 1</a>
      <a href="/publications">Publications</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    © 2026 Raunak Sinha
  </footer>
</body>
</html>

